<p>
    You can add query params using QueryCriteria class.
</p>

<a name="filter" id="filter"></a>
<p class="mb-5">
  Filter<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="filterTs"></handy-syntax-highlighter>
</p>

<a name="paginate" id="paginate"></a>
<p class="mb-5">
  Paginate<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="paginateTs"></handy-syntax-highlighter>
</p>

<a name="sort" id="sort"></a>
<p class="mb-5">
  Sort<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="sortTs"></handy-syntax-highlighter>
</p>

<a name="slice" id="slice"></a>
<p class="mb-5">
  Slice<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="sliceTs"></handy-syntax-highlighter>
</p>

<a name="operators" id="operators"></a>
<p class="mb-5">
  Operators<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="operatorsTs"></handy-syntax-highlighter>
</p>

<a name="full-text-search" id="full-text-search"></a>
<p class="mb-5">
  Full-text-search<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="fullTextSearchTs"></handy-syntax-highlighter>
</p>

<a name="relationships" id="relationships"></a>
<p class="mb-5">
  Relationships<br />
  <handy-syntax-highlighter [language]="'typescript'" [content]="relationshipsTs"></handy-syntax-highlighter>
</p>